---
layout: default
---

<div class="home">
 <div class="top card">
    <a class="email" href="mailto:{{site.email}}">{{site.email}}</a>
    <p class="description">{{ site.description }}</p>
    <a href="about" class="btn">Read More</a>
  </div>
  <div class="posts card">
      <div class="card-content white-text">
      <span class="card-title">Experience</span>

      <ul class="post-list" id="exp">
        {% for post in site.posts %}
        {% if post.type == "job" %}
          <li>
            <span class="post-meta">{{ post.date_end | date: "%b %-d, %Y" }}</span>
            <span class="post-meta"> - </span>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endif %}
        {% endfor %}
      </ul>

      </<br>

      <span class="card-title">Education</span>

      <ul class="post-list" id="edu">
        {% for post in site.posts.categories.education %}
        {% if post.type == "edu" %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ edu.url | prepend: site.baseurl }}">{{ edu.title }}</a>
          </li>
        {% endif %}
        {% endfor %}
      </ul>

      <p class="rss-subscribe">Connect me <a href="https://www.linkedin.com/in/dauren-kassen-a1563a154/">on LinkedIn</a></p>
      </div>
   </div>

</div>
